@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html, #root {
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}